<section id="StaticPagesController">
  <div class="jumbotron">
    <h1 class="center">Welcome to the Gradebook!</h1>
    <p class="center">The new cutting-edge tool for organizing your education needs.</p>
    <p class="center"><%=link_to "Sign up now!", signup_path, :class=>"btn btn-success" %></p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>For Students</h3>
      <ul>
        <li>A Student can see the courses he is registered for (with grades)</li>
        <li>A Student can see his GPA for a given semester</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>For Teachers</h3>
      <ul>
        <li>A Teacher can manage his course roster</li>
        <li>A Teacher can view the enrolled students and their grades for a given course</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>For Administrators</h3>
      <ul>
        <li>An Administrator can view enrollment counts across all courses for a semester</li>
        <li>An Administrator can view an average grade for a given course</li>
      </ul>
    </div>
  </div>
</section>

<!-- <section id="about">
  <div class="container">
    <h1 class="center">About Gradebook</h1>
    <br>
    <code>
      sfadsfaf
    </code>
  </div>
</section> -->
